.cli-wrapper {
    width: 100vw;
    height: 100vh;
    background: #0f0f0f;
    color: #01c705;
    padding: 1rem;
    font-family: "Lucida Console", "Courier New", monospace;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.cli-wrapper .cli {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}

.cli-wrapper .cli:focus {
    outline: none;
}
