@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');


body{
    font-family: 'Ubuntu', sans-serif;
}

a{
    cursor: hand;
    cursor: pointer;
}

.background-image{
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url('../images/background.jpg');
    height: 100vh;
    filter: blur(10px);
}

.landing-page{

}

.landing-page .intro-image-holder{
    text-align: center;
    align-content: center;
    margin-top: 10%;
}

.landing-page .intro-image-holder h1{
    font-family: 'Rubik Mono One', sans-serif;
}

.landing-page .intro-image-holder img {
    margin: auto;
    filter: grayscale(100%);
}

.landing-page .nav-gutter{
    margin-top: 100px;
    font-size: 20px;
}

.landing-page .nav-gutter a{
    text-decoration: none;
}

.landing-page .social-gutter{
    margin-top: 100px;
    letter-spacing: 20px;
}


/*.landing-page .nav-gutter ul{*/
    /*list-style: none;*/
/*}*/

/*.landing-page .nav-gutter ul li{*/
    /*display: inline;*/
    /*margin: 0 60px;*/
/*}*/

/*.landing-page .nav-gutter ul li a{*/
    /*text-decoration: none;*/
    /*cursor: hand;*/
    /*cursor: pointer;*/
/*}*/